<div class="text-center heading mt-3 text-danger">
  <h1><b>PRODUCTS</b></h1>
</div>

<div class="text-center mt-5" style="margin-left: 10%">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/products/lip-makeup/lip-color/super-stay-teddy-tint/alt-pics/maybelline-superstay-teddy-tint-55-kneehigh-041554089059-primary_760x1138.jpg?rev=d6a639391b62404bac9261c3837784a1&cx=0.52&cy=0.48&cw=315&ch=472&hash=0AA5FBA4B28B6B2119D345E9104A3BEB"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Super Stay Teddy Tint</h5>

          <p class="card-text">
            A teddy-soft tint that lasts. Plush, light feel. Super Stay Teddy
            Tint lasts for up to 12 hours.
          </p>
          <a href="#" class="btn btn-danger">VIEW PRODUCT</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/eye-makeup/mascara/lash-sensational-sky-high-space-diamond-glitter-mascara/atf/maybelline-sky-high-lash-sensational-mascara-eye-791-space-diamond-041554094374-open-p.jpg?rev=eee43192b4dd4c2da7034d32a068c9d7&cx=0&cy=0&cw=315&ch=472&hash=563205AE02C29BA0C317E9A649B3DAD4"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Space Glitter Mascara</h5>
          <p class="card-text">
            Use on lashes and brows to instantly elevate your look . Formulated
            suitable for sensitive
          </p>
          <a href="#" class="btn btn-danger">VIEW PRODUCT</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/face-makeup/foundation/super-stay-24hr-skin-tint-with-vitamin-c/maybelline-super-stay-24h-skin-tint-129-041554083804-o.jpg?rev=7e248d490a57476dac1074307594bc37&cx=0.64&cy=0.52&cw=315&ch=472&hash=D195ACF2108871376E67BD61DA14A6CF"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">24HR Skin Tint</h5>
          <p class="card-text">
            Resists sweat, humidity and fading. Suitable for all skin types,
            including sensitive skin.
          </p>
          <a href="#" class="btn btn-danger">VIEW PRODUCT</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-5" style="margin-left: 10%">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/lips-makeup/lip-stick/color-sensational-the-mattes-matte-finish-lipstick-makeup/maybelline-lipstick-color-sensational-mattes-660-touch-of-spice-041554429893-o.jpg?rev=ff75b0a5d3394bf38839adeea7e6d637&cx=0&cy=0&cw=315&ch=472&hash=F670F1B9EB8952CB2DB851F183ACF2C3"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Matte Finish Lipstick</h5>
          <p class="card-text">
            Lipstick Makeup delivers crisp, vibrant lip color and smooth, supple
            lips. Infused with a caring oil
          </p>
          <a href="#" class="btn btn-danger">VIEW PRODUCT</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/eye-makeup/mascara/lash-sensational-sky-high-tinted-primer-mascara-makeup/maybelline-sky-high-tinted-primer-041554081336-o.jpg?rev=e1bbd86d826843c0b082cde4d36e82b5&cx=0&cy=0&cw=315&ch=472&hash=394BA53AEF95BAB0776F3BF3F4C5FE5E"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Mascara Makeup</h5>
          <p class="card-text">
            The Lash Sensational Sky High Tinted Primer is Maybelline New York's
            1st tinted primer for extreme
          </p>
          <a href="#" class="btn btn-danger">VIEW PRODUCT</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/face-makeup/concealer/instant-age-rewind-eraser-dark-circles-concealer-treatment/maybelline-face-instant-age-rewind-eraser-concealer-packshot-sand.jpg?rev=3c118fabf9374ae7a9ebd1aa2bfbac84&cx=0&cy=0&cw=315&ch=472&hash=14E85B1D25BDFA8F79CF85DBE6C82B64"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Multi-Use Concealer</h5>
          <p class="card-text">
            Get up to 12 hours of moisturizing wear for crease-resistant
            coverage and a sponge tip applicator.
          </p>
          <a href="#" class="btn btn-danger">VIEW PRODUCT</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="text-center mt-5" style="margin-left: 10%">
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/products/lip-makeup/lip-color/super-stay-teddy-tint/alt-pics/maybelline-superstay-teddy-tint-55-kneehigh-041554089059-primary_760x1138.jpg?rev=d6a639391b62404bac9261c3837784a1&cx=0.52&cy=0.48&cw=315&ch=472&hash=0AA5FBA4B28B6B2119D345E9104A3BEB"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/eye-makeup/mascara/lash-sensational-sky-high-space-diamond-glitter-mascara/atf/maybelline-sky-high-lash-sensational-mascara-eye-791-space-diamond-041554094374-open-p.jpg?rev=eee43192b4dd4c2da7034d32a068c9d7&cx=0&cy=0&cw=315&ch=472&hash=563205AE02C29BA0C317E9A649B3DAD4"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/face-makeup/foundation/super-stay-24hr-skin-tint-with-vitamin-c/maybelline-super-stay-24h-skin-tint-129-041554083804-o.jpg?rev=7e248d490a57476dac1074307594bc37&cx=0.64&cy=0.52&cw=315&ch=472&hash=D195ACF2108871376E67BD61DA14A6CF"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="container my-4">
  @for (product of products; track $index) {
  <div class="card ms-5 mt-5" style="width: 70rem">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        {{ product.description }}
      </p>

      <button class="btn btn-danger ms-3" (click)="removeProduct(product.key!)">
        remove
      </button>
    </div>
  </div>
  }

  <button
    class="btn btn-primary mt-5"
    type="button"
    routerLink="/makeupproducts/addmakeup"
  >
    Add makeup
  </button>
  <router-outlet> </router-outlet>
</div>
