<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/iar-concealer/mny-iarcorrectingconcealer-homepage-still-desktop-1440x540-(1).jpg?rev=90d926dfd51d40588d3a8212bb2d76ad&cx=0.45&cy=0.38&cw=1440&ch=540&hash=5FBB2B102A09B06D1FBEF7571C83077E"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/tips-and-trends/hp-banner-desktop-2160x810-v2.jpg?rev=27f54ccbe7474639a516c0a7a9f040ca&cx=0.66&cy=0.42&cw=768&ch=288&hash=60DB5BBB7ABC8B04983B095BFD4FC695"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/super-stay-teddy-tint/homepagestill-mny-makl-ssteddytint-developed-1440x540.jpg?rev=64a1b0b180b94129a1a7f95e65b562a2&cx=0&cy=0&cw=768&ch=288&hash=1F3219BFE7E72D821DB62DABB756D233"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr />
<div class="text-center">
  <h1><b>BEAUTY-STUDIO</b></h1>
</div>
<div class="ms-5">
  <div class="row ms-5 mt-5">
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/makeup-studio/maybelline-hp-vrtual-try-on-315x472.jpg?rev=3c085c9c9d1f4cc4b88392f78fa46ba7"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Time to makeup your mind! Experience your perfect makeup shades or
            try a bold new look with Maybelline’s virtual try-on tool.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/makeup-studio/virtualbeautystudio_mny_maky_fitmefinder_developed_315x472v2.jpg?rev=4a58aac2422c47738df140beb2198352"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Find your perfect fit! Complete the quiz to find your Fit Me
            foundation and shade from our Fit Me Collection.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/makeup-studio/makeupstudio_foundationfinderv2.png?rev=13883497c29e41838e30f4b0383c0ba6"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            An easy-to-use mobile experience that helps you find the right
            product for your skintone and undertone
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/makeup-studio/virtualbeautystudiomnymakymascaraquiz315x4722x-1.jpg?rev=2feb4ab8028b482f8888db9fe97d4db7"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Complete the quiz to discover your personalized mascara
            recommendation!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="text-center">
  <h1><b>NEW ARRIVALS</b></h1>
</div>

<div class="ms-5 text-center">
  <div class="row ms-5 mt-5">
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/super-stay-teddy-tint/transporter-mny-makl-ssteddytint-developed-630x944.jpg?rev=efa8788f05c741859c4f1951364245d4"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a
            href="https://www.maybelline.com/lip-makeup/lipstick/superstay-teddy-tint-liquid-lip-tint?variant=Knee+High"
            class="btn btn-danger"
            >LIP TINT-></a
          >
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/new-products-module/maybelline-new-arrivals-sky-high-space-diamond-630x944.jpg?rev=8d6307f83c684bbe88a4cc33d55eec75"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a
            href="https://www.maybelline.com/eye-makeup/mascara/lash-sensational-sky-high-space-diamond-glitter-mascara?variant=Space+Diamond"
            class="btn btn-danger"
            >GLITTER MASCARA-></a
          >
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/new-products-module/mny-iarcorrectingconcealer-transporter-630x944.jpg?rev=ec0c9ffe61c74ed888d1398ed194132b"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a
            href="https://www.maybelline.com/face-makeup/concealer/instant-age-rewind-eraser-color-correcting-concealer?variant=Green"
            class="btn btn-danger"
            >AGE REWIND-></a
          >
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/new-products-module/transporter_mny_maky_ttduochrome_developed_630x944.jpg?rev=678855e585914a5c9ec09b5ada28350e"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a
            href="https://www.maybelline.com/eye-makeup/eyeliner/tattoostudio-sharpenable-gel-pencil-longwear-eyeliner-makeup?variant=Stardust+Chrome"
            class="btn btn-danger"
            >TATTO EYELINER-></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="text-center">
  <img
    src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/makeup-tips/modules/hero/makeup-decoded/tips-and-trends-makeup-decoded-hero-desktop.jpg?rev=36e255c18b354d94833e6c5535b55cea&cx=0.46&cy=0.39&cw=1440&ch=540&hash=DDEA25FA1F3C267993DE59B2C326672B"
    alt=""
  />
</div>
